html { 
    height: 100% ;
}

body { 
    height: 100%; 
    margin: 0px; 
    padding: 0px 
}

h1 {
    margin:2px;
    padding:0;
}

#map_canvas { 
    height: 100% 
}

#map_container { 
    height:100% 
}

#map_container h2 { 
    text-align:center;
}

div.component {
    margin:0.25em;
    border:3px solid #cedecc;
}

#map_container {
    float:left;
    width:50%;
    height:80%;
}

#controls {
    float:right;
    width:40%;
    padding:0.25em;
}

.loc {
    background: #cedecc;
    margin-top:3px;
    margin-bottom:3px;
}

#markerlist {
    border: 2px solid #cedecc;
}

#addresslist_holder {
    height:20em;
    overflow:scroll;
}

#addresslist {
    border: 2px solid #cedecc;
}
tr.d0 td {
	background-color: #ff0099; color: black;
}
tr.d1 td {
	background-color: #CCCC44; color: black;
}

#title {
    float:left;
}

#controls {
    float:right;
}

#addresses {
    float:left;
}

div.colophon {
    width:auto;
    float:right;
    text-align:right;
    border:1px solid #ccc;
    background:#f0f0f0;
}